
//-------------- BR Cobane ---------------
@font-face {
    font-family: 'BR-M';
    src: url('../fonts/cobane/Medium.otf') format('opentype');
  }
  @font-face {
    font-family: 'BR-T';
    src: url('../fonts/cobane/Thin.otf') format('opentype');
  }
  @font-face {
    font-family: 'BR-B';
    src: url('../fonts/cobane/Bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'BR-SB';
    src: url('../fonts/cobane/SemiBold.otf') format('opentype');
  }
  @font-face {
    font-family: 'BR-BL';
    src: url('../fonts/cobane/Black.otf') format('opentype');
  }
  @font-face {
    font-family: 'BR-R';
    src: url('../fonts/cobane/Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'BR-L';
    src: url('../fonts/cobane/Light.otf') format('opentype');
  }
  @font-face {
    font-family: 'BR-EL';
    src: url('../fonts/cobane/ExtraLight.otf') format('opentype');
  }
  