//primary colors

$PrimaryB3: #072c66;
$PrimaryB2: #0a4199;
$PrimaryB1: #0e57cc;
$PrimaryW1: #116dff;
$PrimaryW2: #70a7ff;
$PrimaryW3: #e7f0ff;
$PrimaryW4: #f3f8ff;

//secondary colors

$SecondaryB1: #cc820e;
$SecondaryW1: #ffa311;
$SecondaryW2: #ffc870;
$SecondaryW3: #fff6e7;

//gray colors

$GrayB1: #191919;
$GrayB2: #333333;
$GrayB3: #4c4c4c;
$GrayB4: #7f7f7f;
$GrayB5: #999999;
$GrayB6: #b2b2b2;
$GrayB7: #e5e5e5;
$GrayB8: #f2f2f2;
$GrayB9: #fafafa;
$GrayB10: #ffffff;

//error colors

$ErrorB1: #ffa0a0;
$ErrorB2: #ff1111;
$ErrorB3: #cc0e0e;
$ErrorB4: #990a0a;
$ErrorB5: #660707;

//success colors

$SuccessB1: #a7ffa0;
$SuccessB2: #24ff11;
$SuccessB3: #1dcc0e;
$SuccessB4: #16990a;
$SuccessB5: #0e6607;

//fonts

$XlSize: 18px;
$LgSize: 16px;
$MdSize:14px;
$SmSize:13px;
$XsSize:12px;
